body{
    background-color: #fbfbd7;
    color: #4c00ff;
    font-family:"IBM Plex Sans JP", sans-serif;
}
a{
    color: #ff09bd;
    text-decoration: solid;
    border: #4c00ff 2px solid;
    border-radius: 5px;
    padding: 2px 6px;
    padding-inline: 900;
    text-decoration: none;
    background-color: hsl(58, 83%, 84%); /* light highlight */
}

a:hover{
    background-color: #ff00e6 ;
    color: #fbfbd7;
    transition: all 0.5s ;
}

main{
   max-width: 800px;
   margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size:80px;
    font-weight: 800;
    line-height: 140%;
    letter-spacing: -1px;

}
h2{
    color: rgb(61, 2, 255);
}
h3{
    background-color: #3d02ab;
    color: #fbfbd7;

border-radius: 8px;
padding: 10px;
}
em {
  background-color: hsl(58, 83%, 84%); /* light highlight */
  border-radius: 8px;
  padding: 2px 6px;
  font-style: italic;
}
h4{
    color: #fbfbd7;
    background-color: hsl(316, 98%, 48%); /* light highlight */
  border-radius: 8px;
  padding: 2px 6px;
  font-style: italic;
}

ul{ list-style-type: square;
    margin-left: 20px;

        }


.intro{
    color: #6200ff;
    font-weight: 900;
}

.fancy{
    font-family: 'Oleo Script', cursive;
    font-weight: 700;
    font-size: 90px;
    color: #ff01dd;
}

.blob {
  position: fixed;
  top: 30%; right: 10%;
  width: 300px; height: 300px;
  background: linear-gradient(135deg, #a98ef5, #c7b6ff);
  border-radius: 50%;
  filter: blur(80px);
  animation: blob 3s infinite alternate ease-in-out;
  z-index: -1;
}

@keyframes blob {
  0% { transform: translate(0,0) scale(1); }
  33% { transform: translate(100px,-50px) scale(1.2); }
  66% { transform: translate(-100px,50px) scale(0.8); }
  100% { transform: translate(0,0) scale(1); }
}


.redblob {
  position: fixed;
  top: 30%; left: 10%;
  width: 300px; height: 300px;
  background: linear-gradient(135deg, #f98dc5, #ffa7ef);
  border-radius: 50%;
  filter: blur(80px);
  animation: blob 3s infinite alternate ease-in-out;
  z-index: -1;
}

@keyframes blob {
  0% { transform: translate(0,0) scale(1); }
  33% { transform: translate(100px,-50px) scale(1.2); }
  66% { transform: translate(-100px,50px) scale(0.8); }
  100% { transform: translate(0,0) scale(1); }
}